:root{
    --img1:url('assets/cases/case1.png');
    --img2:url('assets/cases/case2.png');
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

#watch{
    width: 100px; 
    height: 100px;
    /* background-repeat: no-repeat;
    background-size: cover; */
    /* background-color: red; */
    /* transition: all .2s; */
    background-color: red;
}

label{
    background-color: red;

}
input{
    /* appearance: none; */
}

#case1:active #watch{
    /* background:url('assets/cases/case1.png') no-repeat; */
    background-color: green;

}

#case2:checked #watch{
    /* background:url('assets/cases/case2.png') no-repeat; */
    background-color: blue;

}