@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    perspective: 500px;
}

.conatiner {
    width: 100%;
    height: 90vh;
    border-radius: 2vmax;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
}

.conatiner .card_container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.card_container .card {
    width: 12%;
    position: relative;
    margin: 1% 2%;
    transform-style: preserve-3d;
    transform: perspective(3000px);
    transition: all 1s;
}



.card_back {
    position: relative;
    transform: rotateY(-180deg);
    transition: all 1s;
}

.card_back img {
    border-radius: 1vmax;
}

.card_back::after {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 1%;
    left: 0;
    right: 0;
    border-bottom-left-radius: 1vmax;
    border-bottom-right-radius: 1vmax;
}

.card_front {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10;
    border-radius: 1vmax;
    transition: all 1s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card[data-user='clicked'] .card_front {
    transform: rotateY(180deg);
}

.card[data-user='clicked'] .card_back {
    transform: rotateY(0);
}

.card[data-planet='jupiter'] .card_back::after {
    background: linear-gradient(1800deg, #0EE3F0, #ffffff00);
}

.card[data-planet='mars'] .card_back::after {
    background: linear-gradient(1800deg, #0062A1, #ffffff00);
}

.card[data-planet='earth'] .card_back::after {
    background: linear-gradient(1800deg, #D7B5A0, #ffffff00);
}

.card[data-planet='sun'] .card_back::after {
    background: linear-gradient(1800deg, #0C0D07, #ffffff00);
}

.card[data-planet='mercury'] .card_back::after {
    background: linear-gradient(1800deg, #AD724A, #ffffff00);
}

.card[data-planet='venus'] .card_back::after {
    background: linear-gradient(1800deg, #25235A, #ffffff00);
}

.card .planets {
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translateZ(50px);
}

.card .planets_name {
    transform: translateZ(50px);
    position: absolute;
    bottom: 10%;
    width: 100%;
    font-family: "Italiana", sans-serif;
    font-size: 2rem;
    color: white;
    text-transform: capitalize;
    text-align: center;
    z-index: 10;
}