@import url('https://fonts.googleapis.com/css2?family=Honk&family=Fjalla+One&family=Bungee+Spice&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Game Container */
.container {
    width: 600px;
    height: 600px;
    position: relative;
}


.container table {
    width: 100%;
    height: 100%;
    background: linear-gradient(-125deg, #00467F, #A5CC82);
    border-radius: 5px;
}

table td {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 0px rgba(0, 0, 0, 0.575);
    transition: all .1s;
    cursor: pointer;
    text-align: center;
    padding-left: 15px;
}

.boom {
    height: 80%;
    filter: drop-shadow(3px 4px 2px rgb(0 0 0 / 0.4));
}


td:active {
    transform: scale(.9);
}

/* Game Win Or Game Over Status */
.gamestatus,.gamestart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2e332eed;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .2s;
}

.gamestatus p,.gamestart p {
    font-size: 4rem;
    text-transform: capitalize;
}

.gamestatus p {
    font-family: 'Honk', system-ui;
}

.gamestart p {
    font-family: 'Bungee Spice', sans-serif;
}

.gamestatus button,.gamestart button {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    padding: 1% 5%;
    border-radius: 5px;
    border: none;
    background-color: lightblue;
    color: white;
    cursor: pointer;
    transition: all .2s;
}

.gamestatus button:hover,.gamestart button:hover {
    background-color: darkblue;
}

.gamestatus_show {
    transform: scale(1);
}

.gamestatus_hidden {
    transform: scale(0);
}

.hidden {
    display: none;
}

.show {
    display: flex;

}