* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.container {
    background-color: white;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.541), inset 0px 0px 15px rgba(0, 0, 0, 0.335), inset 0px 0px 20px rgba(0, 0, 0, 0.226);
    border-radius: 2vmax;
    padding: .5%;
}

.row {
    display: flex;
    align-items: center;
    margin: 1.7% 0;

}

.cell {
    width: 105px;
    height: 90px;
    border-radius: 100%;
    background-color: gray;
    margin: 0 1%;
    cursor: pointer;
    transition: all .2s;
}

.cell:hover {
    transform: scale(1.1);
}

.player {
    width: 15%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 1%;
    border-radius: 5px;
    border: 2px solid rgb(90, 117, 255);
    transition: all .2s;
}




.player h1 {
    color: rgba(105, 105, 105, 0.307);
    transition: all .2s;
    font-size: 3rem;
    margin: 0 0 10px 0;
}

.player[active] {
    background-color: rgb(90, 117, 255);
    box-shadow: 3px 3px 10px rgb(93, 93, 93);

}

.player[active='p1'] h1 {
    color: black;
}

.player[active='p2'] h1 {
    color: red;
}

.player_life {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player_life img {
    margin: 0 1%;
}

.active_p1 {
    background-color: black;
}

.active_p2 {
    background-color: red;
}