*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #46485D;
    /* display: flex; */
    color: white;
    padding: 1.5% 2%;
}

nav .logo{
    font-family: 'Pacifico', cursive;
    font-size: 1.2rem;
    display: inline;
}

nav ul{
    list-style-type: none;
    display: flex;
    float: right;
    margin: 0;
}

nav ul li{
    text-decoration: none;
    font-family: 'Road Rage';
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a.login{
    font-family: 'Roboto Mono';
    background-color: #7e759f;
    font-size: 1rem;
    padding: 5px 20px;
    border-radius: 5px;
}